
@{

}

<div class="bg-white">
    <div class="container mx-auto max-w-xl py-28 px-8">
        <div class="flex flex-col justify-center items-center">
            <h1 class="font-serif text-3xl md:text-4xl pb-5">About Muchero</h1>
            <p class="font-sans text-lg md:text-xl text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat esse asperiores ea deserunt. A eaque temporibus, suscipit ut fugit tempora velit molestias nemo, dolorum sunt illum explicabo dolore unde vel architecto eum vero cupiditate. At, suscipit. Unde rem aperiam, hic dolor autem sit, corporis quidem tempora laboriosam quia similique itaque.
            </p>
        </div>
    </div>
</div>