@{

}


<div class="bg-white">
    <div class="container mx-auto max-w-2xl py-28 px-8">
        <div class="flex flex-col justify-center items-center">
            <div class="pb-8 text-center">
                <h1 class="font-serif text-3xl md:text-4xl pb-2">Contact us Here!</h1>
                <h2 class="font-serif text-lg md:text-xl">If want to contact the Muchero group, please use the form below</h2>
            </div>
            <form action="">
                <div class="py-2">
                    <label for="">Name</label>
                    <input type="text" class="w-full py-1 px-5 outline-none border-2 border-black">
                </div>
                <div class="py-2">
                    <label for="">Email</label>
                    <input type="email" class="w-full py-1 px-5 outline-none border-2 border-black">
                </div>
                <div class="py-2">
                    <label for="">Message</label>
                    <textarea name="" class="w-full py-1 px-5 outline-none border-2 border-black" id="" cols="30" rows="6"></textarea>
                </div>
                <button class="w-full bg-green-600 text-white text-xl py-2 transition ease-in-out duration-150 hover:bg-green-700">Send Message</button>
            </form>
        </div>
    </div>
</div>