@{

}


<!-- showcasing -->
    <div class="show px-8">
        <div class="flex flex-col justify-center align-center">
            <h1 class="max-w-xl mx-auto text-white text-center font-bold pb-5 text-3xl md:text-5xl">
                Muchero is about Zimbabwe <span class="underline">Indigenous</span> fruits,
            </h1>
            <p class="max-w-2xl text-lg md:text-xl pb-8 mx-auto text-white text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus unde vitae sit expedita aut itaque laborum!</p>
            <div class="mx-auto">
                <a asp-controller="MainFruits" asp-action="listFruits" class="navBtn shadow-xl font-serif border-none py-2 md:py-3 px-7 md:px-9 text-xl text-white font-bold">View Fruits</a>
            </div>
        </div>
    </div>

    <!-- one block -->
    <div class="bg-white">
        <div class="container mx-auto max-w-2xl px-8 py-28">
                <div class="flex flex-col justify-center">
                    <h2 class="font-serif text-3xl md:text-4xl pb-2">Why Muchero?</h2>
                    <p class="font-sans text-lg md:text-xl">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, iure! Dignissimos rem alias similique doloribus a accusamus suscipit iste, doloremque totam, nobis eligendi, obcaecati distinctio consequatur architecto. Explicabo autem minima unde vero reprehenderit dolorum. Libero totam unde deleniti voluptatibus. Voluptatum!
                    </p>
                </div>
        </div>
    </div>

    <!-- sample fruits -->
    <div class="bg-gray-200">
        <div class="container mx-auto max-w-5xl py-28 px-8">
            <div class="pb-10">
                <a href="#" class="font-serif underline text-2xl">Samples..</a>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
                <div class="border-2 border-gray-400 shadow-xl transition ease-in-out duration-150 hover:shadow-none">
                    <img src="/imgs/two.jpg" alt="" class="w-full">
                    <div class="py-4 px-2">
                        <h1 class="underline font-sans text-xl font-bold pb-3">Mamwiwa</h1>
                        <p class="font-sans pb-3">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        @* <div class="pb-2">
                            <a href="#" class="nav border-none py-2 px-8 text-white transition ease-in-out duration-150 hover:bg-green-700">More info</a>
                        </div> *@
                    </div>
                </div>
                <div class="border-2 border-gray-400 shadow-xl transition ease-in-out duration-150 hover:shadow-none">
                    <img src="/imgs/two.jpg" alt="" class="w-full">
                    <div class="py-4 px-2">
                        <h1 class="underline font-sans text-xl font-bold pb-3">Nzambara</h1>
                        <p class="font-sans pb-3">Lorem Lorem ipsum dolor sit amet consectetur. ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        @* <div class="pb-2">
                            <a href="#" class="nav border-none py-2 px-8 text-white transition ease-in-out duration-150 hover:bg-green-700">More info</a>
                        </div> *@
                    </div>
                </div>
                <div class="border-2 border-gray-400 shadow-xl transition ease-in-out duration-150 hover:shadow-none">
                    <img src="/imgs/two.jpg" alt="" class="w-full">
                    <div class="py-4 px-2">
                        <h1 class="underline font-sans text-xl font-bold pb-3">Matundur</h1>
                        <p class="font-sans pb-3">Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum dolor, sit amet  adipisicing elit.</p>
                        @* <div class="pb-2">
                            <a href="#" class="nav border-none py-2 px-8 text-white transition ease-in-out duration-150 hover:bg-green-700">More info</a>
                        </div> *@
                    </div>
                </div>




            </div>
        </div>
    </div>


    <!-- two block -->
    <div class="bg-white">
        <div class="container mx-auto mx-w-4xl px-8 py-28">
            <div class="grid grid-cols-1 md:grid-cols-2 items-center">
                <div class="flex flex-col pb-8 md:pb-0">
                    <h1 class="mx-auto text-3xl">Benefits of MUCHERO</h1>
                </div>
                <div class="flex flex-col  text-start pl-5 md:pl-0">
                    <h1> 
                        <span class="text-red-500 font-bold text-xl">1</span>
                        <span class="font-serif text-xl">Informing the world about fruits</span>
                    </h1>
                    <h1> 
                        <span class="text-red-500 font-bold text-xl">2</span>
                        <span class="font-serif text-xl">Making the unknown known</span>
                    </h1>
                    <h1> 
                        <span class="text-red-500 font-bold text-xl">3</span>
                        <span class="font-serif text-xl">Giving you great infomation</span>
                    </h1>

                </div>
            </div>
        </div>
    </div>